body {
  font-size: 10px;
}
.body-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}
.player-body {
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.9em;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  .player-header {
    width: 100%;
    height: 50%;
    .img-artist {
      max-width: 31em;
      max-height: 22.1em;
      width: 100%;
      min-width: 31em;
    }
  }
  .player-main {
    width: 100%;
    height: 50%;
    .player-control__panel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      .play {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        background-image: linear-gradient(rgba(242, 242, 242, 0.5), rgb(7 4 4 / 50%)), url("../assets/svg/play.png");
        background-size: 113%;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        border: none;
      }

      .description-song {
        display: flex;
        flex-direction: column;
        justify-content: start;
        .artist-name {
          font-size: 2.5em;
          font-weight: 700;
        }
        .song-name {
          font-size: 1.5em;
          font-weight: 400;
        }
      }
      .container-btns__select {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        button {
          width: 2.5em;
          height: 2.5em;
          border-radius: 50%;
          background-size: 130%;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
          border: none;
          background-image: linear-gradient(rgba(242, 242, 242, 0.5), rgb(7 4 4 / 50%));
        }
        .prev {
          background-position-x: -0.3em;
          background-image: linear-gradient(rgba(242, 242, 242, 0.5), rgb(7 4 4 / 50%)),
            url("../assets/svg/backward.png");
        }
        .next {
          background-image: linear-gradient(rgba(242, 242, 242, 0.5), rgb(7 4 4 / 50%)),
            url("../assets/svg/forward.png");
        }
      }
    }
    .player-status__panel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      gap: 0.5em;
      .time {
        font-size: 1.5em;
      }
      .progress-bar {
        width: 100%;
        height: 0.5em;
        background-color: white;
        border-radius: 0.5em;
        cursor: pointer;
      }
      input[type="range"] {
        width: 200px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      input[type="range"]::-webkit-slider-runnable-track {
        border-radius: 10px/100%;
        height: 7px;
        border: 1px solid rgb(22, 22, 22);
        background-color: #fff;
      }
      input[type="range"]::-webkit-slider-thumb {
        background: #e40548;
        border: 1px solid rgb(97, 2, 23);
        border-radius: 10px/100%;
        cursor: pointer;
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        margin-top: -4px;
      }

      input[type="range"]::-moz-range-track {
        border-radius: 10px/100%;
        height: 5px;
        border: 1px solid rgb(201, 7, 81);
        background-color: #fff;
      }
      input[type="range"]::-moz-range-thumb {
        background: #ecf0f1;
        border: 1px solid rgb(151, 10, 52);
        border-radius: 10px/100%;
        cursor: pointer;
      }
    }
  }
  .player-footer {
    width: 100%;
    height: 10%;
    padding: 0.5em;
    .list-items {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

//* styles to js //
body {
  .player-body {
    .player-main {
      .player-control__panel {
        .pause {
          background-image: linear-gradient(rgba(242, 242, 242, 0.5), rgb(7 4 4 / 50%)), url("../assets/svg/pause.png");
        }
      }
    }
  }
}
button:hover {
}
